<mat-card>
    <form #idform="ngForm">
        <mat-form-field>
            <input id="motcle" name="motcle" required ngModel matInput placeholder="Rechercher">
        </mat-form-field>
        <button type="submit" mat-button color="primary" (click)="chercherChanteur(idform.value.motcle); idform.reset();">Valider</button>
    </form>
</mat-card>


<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let chanteur of chanteurs">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ chanteur.name }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image *ngIf="chanteur.images!=0" src="{{chanteur.images[2].url}}">
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
